<template name="addBranch">
    <center>Add a new branch</center>
    <form class="form-addBranch">
          <input class="branchName" type="text" placeholder="Name of the branch" value="{{branchNamePending}}" />
          <input class="branchLocation" type="text" placeholder="Location" value="{{branchLocationPending}}" />
          <input class="branchDescription" type="text" placeholder="Description" value="{{branchDescPending}}" />
          <input type="button" class="addBranch" value="Add Branch" />
    </form>
</template>