<template name="coupons">
	    <form class="form-coupons">
          <input class="offerName" type="text" placeholder="Offer Name" value="{{couponPending.offerName}}" />
          <input class="offerDesc" type="text" placeholder="Offer Description" value="{{couponPending.offerDesc}}" />
          <input class="custLimit" type="text" placeholder="Minimum size of group" value="{{couponPending.custLimit}}"/>
          <input class="basePrice" type="text" placeholder="Base price of the product" value="{{couponPending.basePrice}}" />
          <input class="maxDiscount" type="text" placeholder="Maximum discount offered" value="{{couponPending.maxDiscount}}" />
          <input type="button" class="submitButton" value="Submit" />
      </form>
     
</template>

