doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Deals Management - Meowpon

    meta(name='description' content='Big Red Hackathon Project')

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Condensed:300')

    link(rel='shortcut icon' href='/assets/favicon.png')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/offer.js')

  body
    .left-branches
      .top-logo 
        span.fa.fa-paw
        span Meowpon
      each b in branches
        .branch
          span.fa.fa-building
          span= b.name
      .btn-add: span.fa.fa-plus

    .greetings
      span.fa.fa-sun-o
      span Welcome back, Starbucks

    .right-offers
      .btn-add: span.fa.fa-plus
      .offers
        each o in offers
          .offer(style='background-image:url(\'http://lorempixel.com/200/200/cats/\')')
            .name= o.offerName
            .desc
              span.fa.fa-quote-left 
              span= o.offerDesc
              span.fa.fa-quote-right
            .limit
              span.fa.fa-users
              span= o.custLimit
      .modal
        form
          input(type='text' name='offerName' placeholder='Offer Name')
          input(type='text' name='offerDesc' placeholder='Offer Description')
          input(type='text' name='custLimit' placeholder='Customer Limit')
          input(type='text' name='discLimit' placeholder='Discount Limit')
          input.add(type='submit' value='Add Offer!')
