* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #E0E0E0;
  /*background-image: url("/bg_.png");*/
  font-size: 18px;
  font-family: Lato, sans-serif;
  color: #3c3c3c;
}
a {
  text-decoration: none;
  outline: 0;
  color: #3c3c3c;
}
.items {
  position: relative;
  margin: auto;
  padding-bottom: 50px;
  width: 95%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.items .item {
  padding-left: 120px;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  background-repeat: no-repeat;
  overflow: hidden;
}
.items .item .content {
  margin-top: -30px;
}
.items .item .content .name {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 300;
}
.items .item .content .desc {
  font-style: italic;
  margin-bottom: 45px;
}
.items .item .content .desc .fa {
  font-size: 13px;
  margin: 0 5px 0 5px;
}
.items .item .content .tag {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px 7px 5px 7px;
  letter-spacing: 1px;
  margin-right: 7px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.items .item .content .tag .fa {
  margin-right: 3px;
}
.items .item .content .limit {
  background-color: #ffb462;
}
.items .item .content .cost {
  background-color: #5fe1b3;
}
.items .item .content .dist {
  background-color: #ae98d5;
}
.items img.bubble {
  width: 10px;
  height: auto;
  margin-top: 25px;
  margin-left: -29px;
}
.items .item-overlay {
  display: none;
  position: relative;
  z-index: 1000;
  width: 200%;
  height: 300%;
  font-size: 90px;
  color: #fff;
  padding-top: 35px;
  padding-left: 30px;
  margin-top: -170px;
  margin-left: -122px;
  background-color: rgba(0,0,0,0.6);
}
.items .item-overlay .direction {
  margin-left: 100px;
  font-size: 15px;
}
.items .item-overlay .direction .fa {
  margin-right: 5px;
}
